<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/master.css">
  <title></title>
</head>
<body>
<div class="container">
  <h1>App index page</h1>
  <input type="text" id="inputTodo">
  <div>
    <ul id="listTodos">
      <% data.forEach(function(element){ %>
      <li><%= element %></li>
      <% }); %>
       <li>some text</li>
    </ul>
  </div>
  <button id="buttonUpdate">load all</button>
</div>




<script src="js/script.js"></script>
</body>
</html>